<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukidoki.coursera.dao.ClassroomMapper">
    <insert id="insertClassroom">
        INSERT INTO class_info(name, begin, end, code, course)
        VALUES (#{name}, #{begin}, #{end}, #{code}, #{course})
    </insert>

    <select id="getStudentNumByClassId" parameterType="int" resultType="int">
        SELECT COUNT(uid)
        FROM selection_info
        WHERE cid = #{id}
    </select>
</mapper>