<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukidoki.coursera.dao.ClassroomMapper">
    <select id="getStudentNumByClassId" parameterType="int" resultType="int">
        SELECT COUNT(uid)
        FROM selection_info
        WHERE cid = #{id}
    </select>

    <select id="verifySelectionInfo" parameterType="int" resultType="com.yukidoki.coursera.entity.LiveVerificationBody">
        SELECT cid, uid
        FROM selection_info
        WHERE cid = #{cid}
          AND uid = #{uid}
    </select>

    <select id="verifyTeachingInfo" parameterType="int" resultType="com.yukidoki.coursera.entity.LiveVerificationBody">
        SELECT cid, uid
        FROM teaching_info
        WHERE cid = #{cid}
          AND uid = #{uid}
    </select>

    <select id="getSelectionListByUserId" parameterType="int" resultType="int">
        SELECT cid
        FROM selection_info
        WHERE uid = #{uid}
    </select>

    <select id="getTeachingListByUserId" parameterType="int" resultType="int">
        SELECT cid
        FROM teaching_info
        WHERE uid = #{uid}
    </select>

    <select id="getClassroomLiveById" parameterType="int" resultType="int">
        SELECT live
        FROM class_info
        WHERE id = #{id}
    </select>

    <update id="setClassroomLiveById">
        UPDATE class_info
        SET live=#{status}
        WHERE id = #{id}
    </update>

    <select id="getClassroomListByCourseId" parameterType="int" resultType="com.yukidoki.coursera.entity.Classroom">
        SELECT *
        FROM class_info
        WHERE course = #{cid}
    </select>

    <insert id="select" parameterType="int">
        INSERT INTO selection_info(uid, cid)
        VALUES (#{uid}, #{cid})
    </insert>
</mapper>