<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukidoki.coursera.dao.CourseMapper">
    <insert id="insertCourse">
        INSERT INTO course_info(name, cover, code, description)
        VALUES (#{name}, #{cover}, #{code}, #{description})
    </insert>

    <select id="getSearchResultListByCourseName" parameterType="String"
            resultType="com.yukidoki.coursera.entity.SearchResult">
        SELECT c.id          AS cid,
               c.name        AS name,
               c.cover       AS cover,
               c.description AS description,
               u.id          AS sid,
               u.name        AS school,
               u.logo        AS logo
        FROM course_info AS c,
             unit_info AS u,
             unit_course AS uc
        WHERE uc.cid = c.id
          AND uc.unit = u.id
          AND c.name LIKE concat('%', #{name}, '%')
    </select>
</mapper>