<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukidoki.coursera.dao.MessageMapper">
    <insert id="insertMessage">
        INSERT INTO message_info(text, time, sender, toclass)
        VALUES (#{text}, #{time}, #{sender}, #{toclass})
    </insert>

    <select id="getMessageListByClassId" parameterType="int" resultType="com.yukidoki.coursera.entity.Message">
        SELECT *
        FROM message_info
        WHERE toclass = #{id}
    </select>
</mapper>