<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukidoki.coursera.dao.UnitMapper">
    <insert id="insertUnit">
        INSERT INTO unit_info(name, address, logo)
        VALUES (#{name}, #{address}, #{logo})
    </insert>

    <select id="getUnitList" resultType="String">
        SELECT name
        FROM unit_info
    </select>

    <select id="getUnitIdByName" parameterType="String" resultType="int">
        SELECT id
        FROM unit_info
        WHERE name = #{name}
    </select>
</mapper>