<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukidoki.coursera.dao.UserMapper">
    <select id="findById" parameterType="int" resultType="com.yukidoki.coursera.entity.User">
        SELECT *
        FROM sys_user
        WHERE id = #{id}
    </select>

    <select id="findByUsername" parameterType="String" resultType="com.yukidoki.coursera.entity.User">
        SELECT *
        FROM sys_user
        WHERE username = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO sys_user(id, username, password, avatar, bio)
        VALUES (#{id}, #{username}, #{password}, #{avatar}, #{bio})
    </insert>

    <select id="getStudentByUserId" parameterType="int" resultType="com.yukidoki.coursera.entity.Student">
        SELECT u.username AS username, k.name AS name, u.avatar AS avatar, k.sid AS sid
        FROM sys_user as u,
             kyc_info as k,
             user_kyc
        WHERE k.id = user_kyc.kid
          AND u.id = user_kyc.uid
          AND u.id = #{id}
    </select>

    <select id="getAvatarByUserId" parameterType="int" resultType="String">
        SELECT avatar
        FROM sys_user
        WHERE id = #{id}
    </select>

    <insert id="insertUserRole">
        INSERT INTO user_role(uid, rid)
        VALUES (#{uid}, #{rid})
    </insert>

    <insert id="insertUserKyc">
        INSERT INTO user_kyc(uid, kid)
        VALUES (#{uid}, #{kid})
    </insert>

    <select id="getRoleIdByRoleName" parameterType="String" resultType="int">
        SELECT id
        FROM sys_role
        WHERE name = #{name}
    </select>
</mapper>