<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties"/>
    <settings>
        <!-- localCacheScope是本地缓存（一级缓存）的作用域，只有两种取值：SESSION和STATEMENT，取STATEMENT意味着关闭一级缓存-->
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/KycMapper.xml"/>
        <mapper resource="mappers/UnitMapper.xml"/>
        <mapper resource="mappers/ClassroomMapper.xml"/>
        <mapper resource="mappers/CourseMapper.xml"/>
        <mapper resource="mappers/MessageMapper.xml"/>
        <mapper resource="mappers/CourseCardMapper.xml"/>
        <mapper resource="mappers/PermissionMapper.xml"/>
    </mappers>
</configuration>